.titulo {
    display: flex;
    height: 3rem;
    align-items: center;
    gap: 1rem;
}

.icon {
    font-size: 25px;
    color: var(--destaque);
}

.listaContainer {
    margin-top: 20px;
}

.listaTitulo{
    color: var(--destaque);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.listaItem {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    background-color: #f1f3f5;
    margin-bottom: 5px;
}

.listaContent {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.textoEntrada {
    color: #38b000;
    font-weight: bold;
}

.textoSaida {
    color: #d90429;
    font-weight: bold;
}
