.listaContainer {
    margin-top: 20px;
}

.listaTitulo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.listaItem {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    background-color: #f1f3f5;
    margin-bottom: 5px;
}

.listaContent {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.textoEntrada {
    color: #38b000;
    font-weight: bold;
}

.textoSaida {
    color: #d90429;
    font-weight: bold;
}
