.title {
    display: flex;
    height: 3rem;
    align-items: center;
    gap: 1rem;
}

.icon {
    font-size: 25px;
    color: var(--destaque);
}

.listContainer {
    margin-top: 20px;
}

.listTitle{
    color: var(--destaque);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.listItem {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    background-color: #f1f3f5;
    margin-bottom: 5px;
}

.textIncome {
    color: #38b000;
    font-weight: bold;
}

.textExpense {
    color: #d90429;
    font-weight: bold;
}
