.main {
  height: 100vh;
  width: 83vw;
  display: flex;
  flex-direction: column;
  background-size: contain;
  background-position: center;
  overflow-y: auto;
  flex-direction: column;
}

/* Conteúdo */
.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--spacing);
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-dark);
  margin-bottom: 0;
}

.subtitle {
  font-size: 1rem;
  color: var(--cinza);
  margin-bottom: var(--spacing);
}

.card {
  background: var(--branco);
  padding: 1rem;
  border-radius: var(--border-radius);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  margin-bottom: var(--spacing);
  display: flex;
  flex-direction: column;
}

.cardContent {
  display: flex;
  gap: 3.5rem;
}

.balanceCard {
  background: var(--primary-color);
  color: white;
  padding: 2rem;
  border-radius: var(--border-radius);
  text-align: center;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.1);
}

.cardTitle {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.balance {
  font-size: 2.5rem;
  font-weight: bold;
}

.date {
  font-size: 1rem;
  opacity: 0.8;
}

.transactions {
  justify-content: center;
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-right: 1rem;
}

.income {
  color: var(--green);
  font-weight: bold;
}

.outcome {
  color: var(--red);
  font-weight: bold;
}

/* Botão de adicionar metas */
.addGoal {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  color: white;
  font-size: 1.5rem;
  border-radius: var(--border-radius);
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.1);
}

.goals {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}

.goalCard {
  background: var(--branco);
  padding: 1rem;
  border-radius: var(--border-radius);
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 48%;
  min-width: 140px;
}

.goalAmount {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-color);
}

.goalTitle {
  font-size: 1rem;
  color: var(--cinza);
}
