.loginContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--neutra);
    width: 30rem;
    min-height: 20rem;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 0.5rem;
}

.background {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/fundo.jpg");
    background-size: contain;
    background-position: center;
}

h2 {
    margin: 0;
    padding-bottom: 1.5rem;
}

.inputContainer {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
    border: 2px solid var(--primary-color);
    padding: 5px;
    padding-left: 0;
    padding-right: 0;
    border-radius: 5px;
}
  
.icon {
    margin-right: 10px;
    font-size: 20px;
    color: var(--primary-color);
}

.eyeIcon {
    margin-right: 10px;
    font-size: 20px;
    color: var(--primary-color);
    cursor: pointer;
}

input {
    width: 100%;
    padding: 5px;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--preto);
}  

.loginContainer button {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 2rem;
}

.loginContainer button:hover {
    background-color: #064c92;
}

.erroEscondido {
    display: none;
}

.erro {
    color: red;
    display: flex;
    align-self: start;
    font-size: 0.8rem;
    margin: 0;
}

.cadastro {
    color: var(--second-color);
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: url("../../assets/calendario.svg") no-repeat center;
    background-size: contain;
    color: var(--primary-color);
    margin-right: 5px;
    cursor: pointer;
}