:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--primary-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  user-select: none;

  /* colocar as cores do nosso projeto */
  --primary-color: #003366;
  --second-color: #004766;
  --destaque: rgb(191, 213, 222);
  --neutra: #E5E5E5;
  --preto: #333333;
  --branco: #F5F5F5;
  --cinza: #6b7280;
  --green: #16a34a;
  --red: #dc2626;
  
  --spacing: 1rem;
  --border-radius: 1rem;
}

body {
  display: flex;
  height: 100vh;
  margin: 0;
  background-color: var(--neutra);
}